* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	background: #474747;
}
input:focus, button:focus {
    outline: none;
}
#content {
	width: 100%;
	height: 100%;
	position: absolute;	
	background: #474747;	
}

button {
	width: 50px;
    height: 50px;
	color: #d5d5d5;
	background: linear-gradient(0deg, rgb(180, 180, 180) 0%, rgb(228, 228, 228) 100%);
	border: 1px solid;
	border-top-color: #999999;
	border-left-color: #999999;
	border-right-color: #ffffff;
	border-bottom-color: #ffffff;
	color: black;
}
#canvas {
	border: none;
	background: transparent;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
	display: block;
}
.canvasDiv {
	overflow: auto;
	margin: 1em;
}
#inputPageNumber {
	width: 50px;
	height: 30px;
}
.top-toolbar {
	padding: 1em 0 0 5em;
}
.toolbar button {
	margin: -3px;
}
.toolbar {
	position: fixed;
    bottom: 0;
	margin: 1em;
	left: 50%;
    transform: translateX(-50%);
}
.toolbar img {
	width: 35px;
	height: 35px;
}
.arrow {
	width: 50px;
	height: 50px;
	background: #606060;
	color: #d5d5d5;
	font-size: 1.5em;
	box-shadow: -1px -1px 2px rgba(0, 0, 0, .25) inset, 1px 1px 1px rgba(255, 255, 255, .25) inset;
}
.switch {
	
	margin: 1em;
}
.switch input {
	display: none;
}
.switch label {
	padding: 16px;
    margin: -2px;
	color: #d5d5d5;
	background: linear-gradient(0deg, rgb(180, 180, 180) 0%, rgb(228, 228, 228) 100%);
	border: 1px solid;
	border-top-color: #999999;
	border-left-color: #999999;
	border-right-color: #ffffff;
	border-bottom-color: #ffffff;
	color: black;
}
.switch input[type="radio"]:checked + label {
	background: rgb(73,137,122);
}
.enabled {
	box-shadow: -1px -1px 2px rgba(0, 0, 0, .25) inset, 1px 1px 3px rgba(255, 255, 255, .25) inset;
}
.disabled {
	background: rgba(137,147,159);
	box-shadow: 2px 2px 6px rgba(0,0,0, .4) inset;
}
